.splash{

height:100vh;

display:flex;

flex-direction:column;

justify-content:center;

align-items:center;

background:#EDF5EE;

}

.logo-circle{

width:120px;

height:120px;

border-radius:50%;

background:#4F6F52;

display:flex;

justify-content:center;

align-items:center;

font-size:52px;

color:white;

animation:pulse 1.3s infinite;

}

.splash h1{

margin-top:30px;

font-size:44px;

}

.splash p{

color:#666;

}

@keyframes pulse{

50%{

transform:scale(1.08);

}

}